@font-face {
  font-family: 'Simpsonfont';
  src: local('Simpsonfont'), url('./fonts/Simpsonfont.ttf') format('ttf');
}

body {
  font-family: 'Simpsonfont' !important;

}

.row {
  padding-bottom: 100px;
}
